{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}


{% include 'app_user/header.html' %}


<style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -10%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 6s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>


{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #24695c; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    {% include 'app_user/header.html' %}
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Add Q|A</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                    <li class="breadcrumb-item">Q|A</li>
                    <li class="breadcrumb-item active">Q|A</li>
                  </ol>
                </div>
                <div class="col-sm-6">
                  <!-- Bookmark Start-->
                  <div class="bookmark">
                    <ul>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                        <form class="form-inline search-form">
                          <div class="form-group form-control-search">
                            <input type="text" placeholder="Search..">
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- Bookmark Ends-->
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="edit-profile">
              <div class="row">
                <div class="col-xl-12">

                  

                  <form class="card" method="post">
                    {% csrf_token %}
                    <div class="card-header pb-0">
                    <div class="u-pearls-xs row mb-5">
                      
                      <div class="u-pearl  col-6"><span class="u-pearl-number"><i class="fa fa-cogs"></i></span><span class="u-pearl-title"><a href="{% url 'resume:update_resume2' %}">Setup Quiz</a></span></div>
                      <div class="u-pearl done current col-6"><span class="u-pearl-number"><i class="fa fa-question-circle"></i></span><span class="u-pearl-title"><a href="{% url 'resume:add_career' %}">Add Questions/Answers</a></span></div>
                    </div>
                      <h4 class="card-title mb-0">Add Questions & Answers</h4>
                      <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 1</label>
                            <textarea name="q1" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q1_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q1_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q1_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q1_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_1" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>

                       {% if quiz.question_no > 1 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 2</label>
                            <textarea name="q2" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q2_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q2_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q2_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q2_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_2" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 2 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 3</label>
                            <textarea name="q3" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q3_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q3_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q3_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q3_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_3" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 3 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 4</label>
                            <textarea name="q4" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q4_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q4_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q4_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q4_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_4" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 4 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 5</label>
                            <textarea name="q5" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q5_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q5_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q5_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q5_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_5" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 5 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 6</label>
                            <textarea name="q6" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q6_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q6_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q6_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q6_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_6" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}


                       {% if quiz.question_no > 6 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 7</label>
                            <textarea name="q7" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q7_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q7_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q7_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q7_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_7" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 7 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 8</label>
                            <textarea name="q8" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q8_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q8_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q8_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q8_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_8" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 8 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 9</label>
                            <textarea name="q9" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q9_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q9_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q9_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q9_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_9" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 9 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 10</label>
                            <textarea name="q10" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q10_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q10_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q10_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q10_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_10" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}

                       {% if quiz.question_no > 10 %}
                       <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div>
                            <label class="form-label">Question 11</label>
                            <textarea name="q11" class="form-control" rows="5" placeholder="Question one.." required></textarea>
                          </div>
                        </div>
                        <div class="row g-3">
                        <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option A</label>
                            <input name="q11_a" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option B</label>
                            <input name="q11_b" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option C</label>
                            <input name="q11_c" class="form-control" type="text"  placeholder="...">
                        </div>
                      </div>
                      <div class="col-md-3 mb-2">
                          <div>
                            <label class="form-label">Option D</label>
                            <input name="q11_d" class="form-control" type="text"  placeholder="....">
                        </div>
                      </div>
                    </div>

                        <div class="col-md-12 mb-2">
                          <div class="mb-6">
                            <label class="form-label" for="validationCustom04">Select Answer</label>
                          <select name="answer_11" class="form-select" id="validationCustom04" required="">
                            <option  value="a">A</option>
                            <option  value="b">B</option>
                            <option  value="c">C</option>
                            <option  value="d">D</option>
                          </select>
                          </div>
                        </div>


                      </div>
                       </div>
                       {% endif %}
                    
                    
                    <div class="card-footer card-body btn-showcase">
                      
                      
                      <button style="width: 100%;" class="btn btn-primary" type="submit">Submit</button>
                    
                    </div>
                  </form>
                </div>
                
                
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2021-22 © Aibra All rights reserved.</p>
              </div>
              <div class="col-md-6">
                <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>


{% endblock %}
