{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}

{% include 'app_user/header.html' %}
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Edit Profile</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                  </ol>
                </div>
                <div class="col-sm-6">
                  <!-- Bookmark Start-->
                  <div class="bookmark">
                    <ul>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                        <form class="form-inline search-form">
                          <div class="form-group form-control-search">
                            <input type="text" placeholder="Search..">
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- Bookmark Ends-->
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="edit-profile">
              <div class="row">
                
                <div class="col-xl-8">
                  <form class="card" method="post">
                  	{% csrf_token %}
                    <div class="card-header pb-0">
                      <h4 class="card-title mb-0">Edit Profile</h4>
                      <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        
                        <div class="col-sm-6 col-md-6">
                          <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input class="form-control" name="first_name" type="text" placeholder="First Name" value="{{ app_user.user.first_name }}">
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" name="last_name" type="text" placeholder="Last Name" value="{{ app_user.user.last_name }}">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="form-label">Address</label>
                            <input name="address" class="form-control" type="text" placeholder="Home Address" value="{{ app_user.address }}">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="form-label">Country</label>
                            <input name="country" class="form-control" type="text" placeholder="Home Address" value="{{ app_user.country }}">
                          </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-4">
                          <div class="mb-3">
                            <label class="form-label">Age</label>
                            <input name="age" placeholder="Age" value="{{ app_user.age }}" class="form-control" type="number">
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                          <div>
                            <label class="form-label">About Me</label>
                            <textarea class="form-control" rows="5" placeholder="Enter About your description"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end">
                      <button class="btn btn-primary" type="submit">Update Profile</button>
                    </div>
                  </form>
                </div>
                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-header pb-0">
                      <h4 class="card-title mb-0">My Profile</h4>
                      <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="row mb-2">
                          <div class="profile-title">
                            <div class="media">                        <img class="img-70 rounded-circle" alt="" src="../assets/images/user/7.jpg">
                              <div class="media-body">
                                <h3 class="mb-1 f-20 txt-primary">MARK JECNO</h3>
                                <p class="f-12">DESIGNER</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <h6 class="form-label">Bio</h6>
                          <textarea class="form-control" rows="5">On the other hand, we denounce with righteous indignation</textarea>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Email-Address</label>
                          <input class="form-control" placeholder="your-email@domain.com">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input class="form-control" type="password" value="password">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Website</label>
                          <input class="form-control" placeholder="http://Uplor .com">
                        </div>
                        <div class="form-footer">
                          <button class="btn btn-primary btn-block">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- Container-fluid Ends-->
        </div>


{% endblock %}
		<!-- 
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Update Profile</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	<div class="col-lg-2">
						  		
						  	</div>
						  	<div class="col-lg-8">
						  		<form method="post">
						  			{% csrf_token %}
						  			
						  			first name
						  			<input type="text" name="first_name" placeholder="First name" value="{{ app_user.user.first_name }}"><br /><br />

						  			last name
						  			<input type="text" name="last_name" placeholder="Last name" value="{{ app_user.user.last_name }}"><br /><br />

						  			age
						  			<input type="number" name="age" placeholder="Age" value="{{ app_user.age }}"><br /><br />

						  			address
						  			<input type="text" name="address" placeholder="Address" value="{{ app_user.address }}"><br /><br />

						  			country
						  			<input type="text" name="country" placeholder="Country" value="{{ app_user.country }}"><br />

						  			<button type="submit">Update.</button>
						  			
						  		</form>
						  			
						  		
						  	</div>
						  	<div class="col-lg-2">
						  		
						  	</div>


						  </div>
						</div>
						
						<div class="box-footer">
						  Footer
						</div>
						
					</div>
				</div>
			</div>
		</section>
content -->
