{% extends 'app_user/base.html' %}
{% load static %}


{% block content %}

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Available Jobs.</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	
						  	<div class="col-lg-4">
						  		{% for item in jobs %}
						  			<a href="{% url 'job:job_detail' item.id %}">{{ item.title }}</a><br />
						  		{% endfor %}
						  	</div>

						  </div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						  Footer
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  




{% endblock %}