{% extends 'app_user/base.html' %}
{% load static %}


{% block content %}

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Job Detail.</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	
						  	<div class="col-lg-4">
						  		<p>Job Title: {{ job.title }}</p>
						  		<p>Description: {{ job.description }}</p>

						  		<p>Type: {{ job.job_type }}</p>
						  		<p>Responsibility{{ job.responsibility }}</p>
						  		<p>{{ job.requirement }}</p><br /><br />

						  		<h3>Method of Application:</h3>
						  		<p>To Apply for this job, kindly send ur cv to <b>{{ job.contact_email }}</b> with the subject as the title or call <b>{{ job.contact_phone }}</b>.</p><br />
						  		<p>Deadline: {{ job.deadline }}</p>

						  		<p>Alternative application: Easy Apply!</p>
						  		{% if applied_status %}
						  			<a href="{% url 'job:index' %}"><h3>Applied!<small>(Find Other Job)</small></h3></a>
						  		{% else %}
						  			<a href="{% url 'job:apply_job' job.id app_user.id %}"><h3>Apply Now!</h3></a>
						  		{% endif %}
						  	</div>

						  	<div class="col-lg-6">
						  		Other jobs you should check out.<br />
						  		{% for item in jobs %}
						  			<a href="{% url 'job:job_detail' item.id %}">{{ item.title }}</a><br />
						  		{% endfor %}
						  	</div>

						  </div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						  Footer
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  




{% endblock %}