{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}

<style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -10%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 6s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #246956; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    {% include 'app_user/header.html' %}

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                
                
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-3 box-col-6 pe-0">
                <div class="job-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)">Update Resume</a>
                  <div class="job-left-aside custom-scrollbar">
                    <div class="file-sidebar">
                      <div class="card">
                        <div class="card-body">
                          <ul>
                            <li>    
                              <div class="btn btn-primary"><i data-feather="home">                                    </i>Home </div>
                            </li>
                            <li>
                              <a href="{% url 'resume:update_resume1' %}">
                              <div class="btn btn-light"><i data-feather="folder"></i>Add Bio    </div>
                            </a>
                            </li>
                            <li>
                               <a href="{% url 'resume:update_resume2' %}">
                              <div class="btn btn-light"><i class="icofont icofont-man-in-glasses"></i>Add Experience    </div>
                            </a>
                            </li>
                             <li>
                              <a href="{% url 'resume:add_career' %}"><div class="btn btn-light"><i class="fa fa-bar-chart-o"> </i>Add Career      </div></a>
                            </li>

                            <li>
                               <a href="{% url 'resume:add_education' %}">
                              <div class="btn btn-light"><i class="fa fa-graduation-cap"></i>Add Education      </div>
                            </a>
                            </li>
                            
                            <li>
                            	<a href="{% url 'resume:add_award' %}">
                              <div class="btn btn-light"><i class="fa fa-trophy"></i>Add Award       </div>
                          </a>
                            </li>
                            
                          </ul>
                          <hr>
                          <ul>
                            <li>
                              <a href="{% url 'resume:add_project' %}">
                              <div class="btn btn-outline-primary"><i data-feather="database">   </i>Add Project   </div>
                            </a>
                              
                            </li>
                          </ul>
                          <hr>
                          <ul>
                            <li>
                              <a href="{% url 'resume:add_skill' %}">
                              <div class="btn btn-outline-primary"><i data-feather="grid">   </i>Add Skills</div>
                            </a>
                            </li>
                            <li> 
                              <div class="pricing-plan">
                                <h6>File </h6>
                                <h5>Resume</h5>
                                
                                <div class="btn btn-outline-primary btn-xs">Update Resume</div><img class="bg-img" src="{% static 'main/assets/images/dashboard/folder.png' %}" alt="">
                              </div>
                            </li>
                            <li> 
                              <div class="pricing-plan">
                                <h6>Resumee</h6>
                                <h5>Your Referee</h5>
                                <a href="{% url 'resume:add_referee' %}">
                                <div class="btn btn-outline-primary btn-xs">Add Referees</div>
                              </a><img class="bg-img" src="{% static 'main/assets/images/dashboard/folder1.png' %}" alt="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9 col-md-12 box-col-12">
                <div class="file-content">
                  <div class="card">
                    <div class="card-header">
                      <div class="media">
                      	<div class="form-group d-flex mb-0">
                      		<a href="{% url 'resume:add_career' %}">
                          <div class="btn btn-outline-primary ms-0 " style="margin-right: 10px"><i data-feather="plus-square">   </i>Add Career  </div>
                      		</a>
                      		<a href="{% url 'resume:add_education' %}">
                            <div class="btn btn-primary" style="margin-right: 10px"> <i data-feather="plus-square"></i>Add Education</div>
                           </a> 
                           <a href="{% url 'resume:add_skill' %}">
                            <div class="btn btn-outline-secondary" > <i data-feather="plus-square"></i>Add Skill</div>
                           </a> 
                          </div>
                        
                        
                      </div>
                    </div>
                    <div class="card-body file-manager">
                     
                      
                      <ul class="files">
                      	{% if careers %}
							{% for item in careers.all %}
                        <li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>Career:{{ item.career }}</h6>
                            <p class="mb-1">{{ item.detail|truncatewords:6 }}</p>
                            <p> <b>Date : </b> {{ item.date_from }} -  {{ item.date_to }}</p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:edit_career' item.id %}">Edit Career</a>
                          </div>
                        </li>
                        {% endfor %}
                        {% else %}
						 <li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>No Career Added Yet</h6>
                            <p class="mb-1">Click to Add </p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:add_career' %}">Add Career</a>
                          </div>
                        </li>
                        
                        {% endif %}
                        {% if educations %}
							{% for item in educations.all %}
                        <li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>Education:{{ item.education }} </h6>
                            <p class="mb-1">{{ item.detail }}</p>
                            <p> <b>last added : </b>{{ item.date_from }} -  {{ item.date_to }}</p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:edit_education' item.id %}">Edit Education</a>
                          </div>
                          {% endfor %}
						  	{% else %}
						  	<li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>No Educational Records yet</h6>
                            <p class="mb-1">Click to Add </p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:add_education' %}">Add Education</a>
                          </div>
                        
						  
                        </li>
                        {% endif %}
                        {% if educations %}
							{% for item in skills.all %}
                        <li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>Skill:{{ item.skill }} </h6>
                            <p class="mb-1">{{ item.detail|truncatewords:6 }}</p>
                            <p> <b>last added : </b>{{ item.date_from }} -  {{ item.date_to }}</p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:edit_skill' item.id %}">Edit Skill</a>
                          </div>
                          {% endfor %}
						  	{% else %}
						  	<li class="file-box">
                          
                          <div class="file-bottom">
                            <h6>No Skill Record yet</h6>
                            <p class="mb-1">Click to Add </p>
                            <a class="btn btn-outline-primary" href="{% url 'resume:add_skill' %}">Add Skill</a>
                          </div>
                        
						  
                        </li>
                        {% endif %}
                        
                      </ul>
                      <br>
                      <div class="media-body text-end">
                          <a href="{% url 'resume:update_resume4' %}">
                            <div class="btn btn-primary" > <i data-feather="plan"></i>Proceed</div>
                           </a> 
                          
                          
                        </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2021-22 © Aibra All rights reserved.</p>
              </div>
              <div class="col-md-6">
                <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}

		<!-- 
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Update your career, educational qualifications and skills.</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	<div class="col-lg-2">
						  		
						  	</div>
						  	<div class="col-lg-6">
						  		<a class="btn btn-primary" href="{% url 'resume:add_career' %}">Add New Career</a><br />
						  		<a class="btn btn-primary" href="{% url 'resume:add_education' %}">Add Education</a><br />
						  		<a class="btn btn-primary" href="{% url 'resume:add_skill' %}">Add Skill</a>
						  		<br /><br />

						  		<a class="btn btn-primary" href="{% url 'resume:update_resume4' %}">Proceed</a>
						  		
						  	</div>
						  	<div class="col-lg-4">
						  		<ul>My Careers
						  			{% if careers %}
							  			{% for item in careers.all %}
							  			<li>
							  				Title: {{ item.career }}<br />
							  				Detail: {{ item.detail }}<br />
							  				From: {{ item.date_from }}<br />
							  				To: {{ item.date_to }}<br />
							  			</li>
							  			{% endfor %}
						  			{% else %}
						  				<p>Sorry, you dont have any yet! Add some!</p>
						  			{% endif %}
						  		</ul>
						  		<hr><br /><br />
						  		<ul>My Education
						  			{% if educations %}
							  			{% for item in educations.all %}
							  			<li>
							  				Title: {{ item.education }}<br />
							  				Detail: {{ item.detail }}<br />
							  				From: {{ item.date_from }}<br />
							  				To: {{ item.date_to }}<br />
							  			</li>
							  			{% endfor %}
						  			{% else %}
						  				<p>Sorry, you dont have any yet! Add some!</p>
						  			{% endif %}
						  		</ul>
						  		<hr><br /><br />
						  		<ul>My Skills
						  			{% if skills %}
							  			{% for item in skills.all %}
							  			<li>
							  				Title: {{ item.skills }}<br />
							  				Detail: {{ item.detail }}<br />
							  				From: {{ item.date_from }}<br />
							  				To: {{ item.date_to }}<br />
							  			</li>
							  			{% endfor %}
						  			{% else %}
						  				<p>Sorry, you dont have any yet! Add some!</p>
						  			{% endif %}
						  		</ul>
						  		<hr><br /><br />
						  	</div>

						  	<div class="col-lg-2">
						  		<a href="{% url 'resume:update_resume1' %}">Opening Statement</a><br />
						  		<a href="{% url 'resume:update_resume2' %}">Experience</a><br />
						  		<a href="{% url 'resume:add_career' %}">Career</a><br />
						  		<a href="{% url 'resume:add_education' %}">Education</a><br />
						  		<a href="{% url 'resume:add_skill' %}">Skill</a><br />

						  		<a href="{% url 'resume:add_project' %}">Project</a><br />
						  		<a href="{% url 'resume:add_hobby' %}">Hobby</a><br />
						  		<a href="{% url 'resume:add_award' %}">Awards</a><br />
						  		<a href="{% url 'resume:add_referee' %}">Referee</a><br />
						  	</div>


						  </div>
						</div>
						<div class="box-footer">
						  Footer
						</div>

					</div>
				</div>
			</div>
		</section>
.content -->
