{% extends 'app_user/base.html' %}
{% load static %}


{% block content %}

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Let Recruiters know what projects you've worked and the Certifications and Awards you have acheived.</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	<div class="col-lg-2">
						  		
						  	</div>
						  	<div class="col-lg-6">
						  		<a class="btn btn-primary" href="{% url 'resume:add_project' %}">Add New Project</a><br />
						  		<a class="btn btn-primary" href="{% url 'resume:add_award' %}">Add New Certification & Awards</a><br />
						  		<br /><br />

						  		<a class="btn btn-primary" href="{% url 'wallet:index' %}">Proceed</a>
						  		
						  	</div>
						  	<div class="col-lg-4">
						  		<ul>My Projects
						  			{% if projects %}
							  			{% for item in projects.all %}
							  			<li>
							  				Title: {{ item.project }}<br />
							  				Detail: {{ item.detail }}<br />
							  				Link: {{ item.link }}<br />
							  			</li>
							  			{% endfor %}
						  			{% else %}
						  				<p>Sorry, you dont have any yet! Add some!</p>
						  			{% endif %}
						  		</ul>
						  		<hr><br /><br />
						  		<ul>My Awards
						  			{% if awards %}
							  			{% for item in awards.all %}
							  			<li>
							  				Title: {{ item.award }}<br />
							  				Detail: {{ item.detail }}<br />
							  				Year: {{ item.year }}<br />
							  				Link: {{ item.link }}<br />
							  			</li>
							  			{% endfor %}
						  			{% else %}
						  				<p>Sorry, you dont have any yet! Add some!</p>
						  			{% endif %}
						  		</ul>

						  	</div>

						  	<div class="col-lg-2">
						  		<a href="{% url 'resume:update_resume1' %}">Opening Statement</a><br />
						  		<a href="{% url 'resume:update_resume2' %}">Experience</a><br />
						  		<a href="{% url 'resume:add_career' %}">Career</a><br />
						  		<a href="{% url 'resume:add_education' %}">Education</a><br />
						  		<a href="{% url 'resume:add_skill' %}">Skill</a><br />

						  		<a href="{% url 'resume:add_project' %}">Project</a><br />
						  		<a href="{% url 'resume:add_hobby' %}">Hobby</a><br />
						  		<a href="{% url 'resume:add_award' %}">Awards</a><br />
						  		<a href="{% url 'resume:add_referee' %}">Referee</a><br />
						  	</div>


						  </div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						  Footer
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  




{% endblock %}