{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}

<style type="text/css">
    
    .alert{
        box-shadow: 5px 5px 10px #111;
        border: none;
    }
    @keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -10%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 6s;
}
@media(max-width: 450px) {
    h3{
      font-size: 15px !important;
    }
  }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: #246956; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    {% include 'app_user/header.html' %}

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Details</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/app/">Home</a></li>
                    <li class="breadcrumb-item">Recruit</li>
                    <li class="breadcrumb-item active">Detail</li>
                  </ol>
                </div>
                <div class="col-sm-6">
                  <!-- Bookmark Start-->
                  <div class="bookmark">
                    <ul>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Print Resume"><i data-feather="printer"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                      <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                        <form class="form-inline search-form">
                          <div class="form-group form-control-search">
                            <input type="text" placeholder="Search..">
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- Bookmark Ends-->
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="user-profile">
              <div class="row">
                
                <div class="col-xl-3 col-lg-12 col-md-5 xl-35">
                  <div class="default-according style-1 faq-accordion job-accordion">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="card" data-intro="This is your Your detail">
                          <div class="card-header">
                            <h5 class="p-0">
                              <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2">About {{ recruit.user.first_name }} {{ recruit.user.last_name }}</button>
                            </h5>
                          </div>
                          <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-parent="#accordion">
                            <div class="card-body post-about">
                              <ul>
                                <li>
                                  <div class="icon"><i data-feather="user"></i></div>
                                  <div>
                                    <h5>Age</h5>
                                    <p>{{ recruit.age }} years old</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon"><i data-feather="user"></i></div>
                                  <div>
                                    <h5>Gender</h5>
                                    <p>{{ recruit.gender }}</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon"><i data-feather="phone"></i></div>
                                  <div>
                                    <h5>Phone</h5>
                                    <p>{{ recruit.phone_no }}</p>
                                  </div>
                                </li>
                                {% if recruit.account_type == "candidate" %}
                                <li>
                                  <div class="icon"><i data-feather="briefcase"></i></div>
                                  <div>
                                    <h5>Work</h5>
                                    <p>{{ recruit.resume.work_experiences.last }}</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon"><i data-feather="book"></i></div>
                                  <div>
                                    <h5>Education</h5>
                                    <p>{{ recruit.resume.educations.last }}</p>
                                  </div>
                                </li>
                                {% endif %}
                                <li>
                                  <div class="icon"><i data-feather="map-pin"></i></div>
                                  <div>
                                    <h5>lived in {{ recruit.address }}</h5>
                                    <p>{{ recruit.country }}</p>
                                  </div>
                                </li>

                              </ul>
                              <div class="social-network theme-form"><span class="f-w-600">Social Networks</span>
                                <a href="{{ app_user.facebook_link }}"><button  class="btn social-btn btn-fb mb-2 text-center"><i class="fa fa-facebook m-r-5"></i>Facebook</button></a>
                                <a href="{{ app_user.twitter_link }}"><button  class="btn social-btn btn-twitter mb-2 text-center"><i class="fa fa-twitter m-r-5"></i>Twitter</button></a>
                                <a href="{{ app_user.whatsapp_link }}"><button style="background-color: #128c7e !important; border: none" class="btn social-btn btn-dark mb-2 text-center"><i class="fa fa-whatsapp m-r-5" style=""></i>Whatsapp</button></a>
                                <a href="{{ app_user.github_link }}"><button class="btn social-btn mb-2 btn-dark text-center"><i class="fa fa-github m-r-5"></i>Github</button></a>
                                <a href="{{ app_user.instagram_link }}"><button style="background-color: #8a3ab9 !important; border: none;" class="btn social-btn mb-2 btn-dark text-center"><i class="fa fa-instagram m-r-5"></i>Instagram</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                      
                      
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-12 col-md-7 xl-65">
                  <div class="row">
                    <!-- profile post start-->
                    <div class="col-sm-12" data-intro="This is the your first Post">
                      <div class="card">
                        <div class="profile-post">
                          <div class="post-header">
                            <div class="media"><img class="img-thumbnail rounded-circle me-3" src="{{ recruit.profile_photo.url }}" alt="Generic placeholder image">
                              <div class="media-body align-self-center"><a href="">
                                  <h5 class="user-name">{{ recruit.user.first_name }} {{ recruit.user.last_name }}</h5></a>
                                <h6>{{ recruit.user.email }}</h6>
                                <a href="{{ item.app_user.cv.url }}" class="btn btn-primary-light" download>Download Resume</a>
                              </div>
                            </div>
                            <div class="post-setting"><i class="fa fa-ellipsis-h"></i></div>
                          </div>
                          <div class="post-body">
                            <div class="img-container">
                              <div class="my-gallery" id="aniimated-thumbnials" itemscope="">
                                <figure itemprop="associatedMedia" itemscope=""><a href="{% static 'main/assets/images/user-profile/post1.jpg" itemprop="contentUrl" data-size="1600x950"><img class="img-fluid rounded" src="../assets/images/user-profile/post1.jpg' %}" itemprop="thumbnail" alt="gallery"></a>
                                  <figcaption itemprop="caption description">Bio</figcaption>
                                </figure>
                              </div>
                            </div>
                            <div class="post-react">
                              
                              <h6>{{ recruit.resume.opening_statements.all.0 }}</h6>
                            </div>
                            <hr>
                            <h5>Career Overview</h5>
                            {% for item in recruit.resume.careers.all %}
                             
                            <p>{{ item.detail }}.</p>
                            
                            <ul class="post-comment">
                              <li>
                                <label><a href="#"><i data-feather="calendar"></i>&nbsp;&nbsp;from<span class="counter">{{ item.date_from }} - {{ item.date_to }}</span></a></label>
                              </li>
                              
                              

                            </ul>
                            {% endfor %}
                            <hr>

                            <h5>Work Experience</h5>
                            {% for item in recruit.resume.work_experiences.all %}                             
                            <p>{{ item.detail }}.</p>
                            <ul class="post-comment">
                              <li>
                                <label><a href="#"><i data-feather="calendar"></i>&nbsp;&nbsp;from<span class="counter">{{ item.date_from }} - {{ item.date_to }}</span></a></label>
                              </li>
                              
                              

                            </ul>
                            {% endfor %}
                            <hr>

                            <h5>Projects</h5>
                            {% for item in recruit.resume.projects.all %}
                            <p><b>(1). {{ item.title }}</b></p>                             
                            <p>{{ item.detail }}.</p>
                            <ul class="post-comment">
                              <li>
                                <label><a href="#"><i data-feather="link"></i>&nbsp;&nbsp;<span class="counter">{{ item.link }}</span></a></label>
                              </li>
                              
                              

                            </ul>
                            {% endfor %}
                            <hr>
                            <h5><i class="fa fa-certificate"></i> Certifications</h5>
                            {% for item in recruit.resume.certifications.all %}
                             
                            <p>{{ item.certification }}</p>
                            <p>{{ item.detail }}</p>
                            <ul class="post-comment">
                              <li>
                                <label><a href="#"><i data-feather="calendar"></i>&nbsp;&nbsp;<span class="counter">{{ item.year }}</span></a></label>
                              </li>
                              <li>
                                <label><a href="#"><i data-feather="link"></i>&nbsp;&nbsp;<span class="counter">{{ item.link }}</span></a></label>
                              </li>
                              
                              

                            </ul>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- profile post end-->
                    
                    
                  </div>
                </div>
                
        </div>
      </div></div>
    </div>
    
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid"> 
            <div class="row">
              <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2021-22 © Aibra All rights reserved.</p>
              </div>
              <div class="col-md-6">
                <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endblock %}


<!--
        
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Interesting things about {{ recruit.user.first_name }} {{ recruit.user.last_name }}.</h4>
						</div>
						<div class="box-body">
						  <div class="row">
						  	
						  	<div class="col-lg-5">
						  		<p>Name: {{ recruit.user.first_name }} {{ recruit.user.last_name }}</p>
						  		<p>Address: {{ recruit.address }}</p>
						  		<p>Country: {{ recruit.country }}</p>
						  		<p>Phone: {{ recruit.phone }}</p>
						  		<p>Email: {{ recruit.user.email }}</p>
						  		<p>Age: {{ recruit.age }}</p><br />


						  		<h3>({{ recruit.resume.titles.all.0 }}):</h3>
						  		<h3>{{ recruit.resume.opening_statements.all.0 }}</h3><br /><br />

						  		<h3>Work Experiences:</h3><br />
						  		{% for item in recruit.resume.work_experiences.all %}
						  			<p>Title: {{ item.work_experience }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>From: {{ item.date_from }}</p>
						  			<p>To: {{ item.date_to }}</p><br />

						  		{% endfor %}


						  		<h3>Work Careers:</h3><br />
						  		{% for item in recruit.resume.careers.all %}
						  			<p>Title: {{ item.career }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>From: {{ item.date_from }}</p>
						  			<p>To: {{ item.date_to }}</p><br />

						  		{% endfor %}

								<h3>Educations:</h3><br />
						  		{% for item in recruit.resume.educations.all %}
						  			<p>Title: {{ item.education }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>From: {{ item.date_from }}</p>
						  			<p>To: {{ item.date_to }}</p><br />

						  		{% endfor %}

						  		<h3>Skills:</h3><br />
						  		{% for item in recruit.resume.skills.all %}
						  			<p>Title: {{ item.skill }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>From: {{ item.date_from }}</p>
						  			<p>To: {{ item.date_to }}</p><br />

						  		{% endfor %}


						  		<h3>Projects:</h3><br />
						  		{% for item in recruit.resume.projects.all %}
						  			<p>Title: {{ item.title }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>Link: {{ item.link }}</p>

						  		{% endfor %}



						  		<h3>Involvements:</h3><br />
						  		{% for item in recruit.resume.involvements.all %}
						  			<p>Title: {{ item.title }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>Link: {{ item.link }}</p>

						  		{% endfor %}


						  		<h3>Certifications:</h3><br />
						  		{% for item in recruit.resume.certifications.all %}
						  			<p>Title: {{ item.certification }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>Year: {{ item.year }}</p>
						  			<p>Link: {{ item.link }}</p>

						  		{% endfor %}

						  		<h3>Award:</h3><br />
						  		{% for item in recruit.resume.awards.all %}
						  			<p>Title: {{ item.award }}</p>
						  			<p>Detail: {{ item.detail }}</p>
						  			<p>Year: {{ item.year }}</p>
						  			<p>Link: {{ item.link }}</p>

						  		{% endfor %}

						  		<h3>Hobbies:</h3><br />
						  		{% for item in recruit.resume.hobbies.all %}
						  			<p>{{ item.hobby }}</p>

						  		{% endfor %}


						  		<h3>Referees:</h3><br />
						  		{% for item in recruit.resume.referees.all %}
						  			<p>Name: {{ item.referee }}</p>
						  			<p>Name: {{ item.phone_no }}</p>
						  			<p>Name: {{ item.place_of_work }}</p>

						  		{% endfor %}



						  	</div>


						  </div>
						</div>

						<div class="box-footer">
						  Footer
						</div>

					</div>
				</div>
			</div>
		</section>
content -->




