{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Aibra</title>
  
	<!-- Vendors Style-->

	<link rel="stylesheet" href="{% static 'app_user/dashboard/css/vendors_css.css' %}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'app_user/dashboard/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'app_user/dashboard/css/skin_color.css' %}">	

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url({% static 'app_user/images/auth-bg/bg-2.jpg' %})">


	{% block content %}



	{% endblock %}
	
	


	<!-- Vendor JS -->
	<script src="{% static 'app_user/js/vendors.min.js' %}"></script>
	<script src="{% static 'app_user/js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'app_user/assets/icons/feather-icons/feather.min.js' %}"></script>	
	
	
</body>
</html>
